html {
	height: 100%;
	width: 100%;
}

#map-container {
	/*position: fixed;*/
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
}

#map-container svg {
	width: 100%;
	height: 100%;
	display: block;
	touch-action: none;
	-webkit-user-select: none;
	user-select: none;
}

#map-group path {
	fill: #eeeeee;
	stroke: #333;
	cursor: pointer;
	transition: fill 0.2s ease;
	stroke-width: 0.15;
}

#map-group path:hover {
	fill: #cccccc;
}
