html {
	height: 100%;
	width: 100%;
}

#map-container {
	user-select: none;
}

#map-group path {
	fill: #eeeeee;
	stroke: #333;
	cursor: pointer;
	transition: fill 0.2s ease;
	stroke-width: 0.15;
}

#map-group path:hover {
	fill: #cccccc;
}
